*.pyc
.vscode
output
build
diff_rasterization/diff_rast.egg-info
diff_rasterization/dist
tensorboard_3d
screenshots
nerf_synthetic
multi-scale
360_v2
benchmark*
debug*
fused
*.so
ablation
logs
log
ablation*
box_meshes
sphere_meshes
NeRF_Mesh
*.ply
DTU_mask
*.png
*.pt
*.pth
*.npy
TNT/
*.json
reports/
dtu_exp/
TNT_GOF
exp*
eval_tnt/TrainingSet
dtu_eval/Offical_DTU_Dataset
__pycache__
